.container-itens-vid {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  background: #f2f2f2;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 1rem;
  margin-top: 1.5rem;
}

.card-item-vid {
  width: 276px;
  height: 128px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  background: linear-gradient(
    90deg,
    rgba(137, 43, 203, 1) 27%,
    rgba(0, 212, 255, 1) 100%
  );
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;

  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.card-itens-v {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 91px;
}

.card-item-titles {
  display: flex;
  justify-content: space-between;
}

.card-item-titles p {
  font-weight: 600;
  font-size: 0.8rem;
}

.card-item-titles h3 {
  font-weight: bold;
  font-size: 1.4rem;
}

.card-item-service {
  display: flex;
  width: 276px;
  flex-direction: column;
  align-items: center;
  background: #fff;
  border-radius: 0.5rem;

  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.card-item-s-title {
  font-size: 1.2rem;
  color: #fff;
  background: blue;
  display: flex;
  width: 100%;
  height: 87px;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem 0.5rem 0 0;
}

.card-item-s-values {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 237px;
}

.card-item-s-values h1 {
  font-weight: 600;
  color: #000000b0;
}

.card-item-s-values p {
  font-weight: 600;
  color: #000000b0;
}

.btn-values {
  margin-top: 1rem;
}
